

body {
	font-size: 18px;
	font-family: 'Libre Baskerville', serif;
	margin: 20px;
	background-color: #4d4d4d
}

hr {
	display: block;
	color: #ffffff;
    border-style: solid;
    border-width: 10px;
}  

h1 {
	font-size: 2em;
	font-family: 'Libre Baskerville', serif;
	display: inline-block;
	font-weight: 700;
	padding: 10px;
	color: #ffffff;
  
}


a:link {
	text-decoration: none;
	color: #bfbfbf;
}
a:hover {
	color: #ffffff;
}

header {
	
}

nav {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
	font-size: .8em;
	padding-top: 0;
	padding-bottom: 20px;
	
}

nav a {
	text-decoration: none;
	color: black;

	margin: 1.8em;
	display: inline-block;
}


div {
	background-color: #E582A2;
	float: left;
	width: 29.3%;
	padding: 2%;
	display: inline-block;
	font-size: .8em;
}

aside {
	background-color: #E55B88;
	float: left;
	width: 29.3%;
	padding: 2%;
	display: inline-block;
	font-size: .8em;
}


footer {
	
	color: #222;
	font-size: .8em;
	text-align: center;
	clear: both;
	border-top: 3px dotted #bfbfbf;
	border-bottom: 3px dotted #bfbfbf;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 20px;
}
