@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=BenchNine);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);


body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	margin: 20px;
	padding: 40px;
}

  

h1 {
	font-size: 2em;
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-weight: 800;
  
}


a:link {
	text-decoration: none;
	color: #222;
}
a:hover {
	color: hotpink;
}

header {
	padding: 20px;
	background-color: orange;
}

nav {
	font-size: 1.8em;
	padding: 20px;
	background-color: grey;
	float: right;
}

nav a {
	text-decoration: none;
	color: black;
	background-color: yellow;
	margin: 1.8em;
	display: inline-block;
}

section {
	background: #FFB7CF;
	overflow: auto;
	font-size: 1.2em;
	width: 46%;
	padding: 2%;
	display: inline-block;
}


#left {
	background-color: #E582A2;
	float: left;
	
}

#right {
	background-color: #E55B88;
	float: right;
}

footer {
	color: #222;
	text-align: center;
	padding: 1em 0;
	clear: both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}