body {
	background: url(http://i.imgur.com/2ySS7RT.jpg);
	background-size: cover;
	text-align: center;
	color: white;
	font-family: Helvetica;
	font-weight: bold;
	margin: 20px;
	padding: 40px;
}
hr {
	width: 300px;
}
#slogan {
	font-style: italic;
	font-size: 24px;
}
h1 {
	font-size: 50px;
	font-family: "Courier New";
	text-transform: uppercase;
}
ul {
	list-style-type: none;
	font-size: 14px;
	text-transform: uppercase;
}
a:link {
	text-decoration: none;
	color: white;
}
a:hover {
	color: hotpink;
}