body {
	background: url(http://i.imgur.com/2ySS7RT.jpg);
	background-size: cover;
	font-weight: bold;
	text-align: center;
	color: white;
	margin: 20px;
	padding: 40px;
}
hr {
	width: 300px;
}
#slogan {
	font-style: italic;
	font-size: 22px;
	font-family: Helvetica;
}
h1 {
	font-size: 65px;
	font-family: Lucidatypewriter, monospace;
	text-transform: uppercase;
}
p {
	font-family: Helvetica;
	font-size: 18;
}
ul {
	list-style-type: none;
	font-size: 17px;
	text-transform: uppercase;
	font-family: Arial;
}
a:link {
	text-decoration: none;
	color: white;
}
a:hover {
	color: hotpink;
}
